GettingStartedClient/obj/
GettingStartedClient/temp/
GettingStartedHost/Settings1.Designer.cs
GettingStartedHost/Settings1.settings
GettingStartedHost/obj/
GettingStartedLib/App.config.orig
GettingStartedLib/GettingStartedLib.csproj.user
GettingStartedLib/obj/
/GettingStartedLib/bin/Debug
/GettingStartedClient/bin/Debug
/.vs/GettingStarted/v16
/GettingStartedHost/bin/Debug
/GettingStartedHost/GettingStartedHost.csproj.user
